<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tatwo.macbook-autosync</string>
  <key>ProgramArguments</key>
  <array>
    <string>__TATWO_AUTOSYNC_SCRIPT_PATH__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>3600</integer>
  <key>StandardOutPath</key>
  <string>__TATWO_AUTOSYNC_LOG_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__TATWO_AUTOSYNC_LOG_PATH__</string>
</dict>
</plist>
